/laeyerz/.env
laeyerz.egg-info/
/laeyerz/__pycache__/
/laeyerz/memory/__pycache__/
/laeyerz/llms/__pycache__/
/laeyerz/memory/nosqldb/__pycache__/
/laeyerz/memory/vectordbs/__pycache__/
/laeyerz/memory/sqldb/__pycache__/
/laeyerz/textsplitters/__pycache__/
/laeyerz/utils/__pycache__/
/laeyerz/embeddings/__pycache__/
/laeyerz/monitor/__pycache__/
/laeyerz/memory/nosqldb/__pycache__/
/laeyerz/memory/vectordbs/__pycache__/
/laeyerz/memory/sqldb/__pycache__/
/laeyerz/flow/__pycache__
/laeyerz/nodes/__pycache__
/laeyerz/flow/__pycache__/Edge.cpython-312.pyc
/laeyerz/flow/__pycache__/Flow.cpython-312.pyc
/laeyerz/flow/__pycache__/Node.cpython-312.pyc
/laeyerz/nodes/llm/__pycache__/OpenAILLMNode.cpython-312.pyc
/laeyerz/nodes/llm/__pycache__/PromptNode.cpython-312.pyc   

datasets
testcases
dummy
examples
/examples/Agents

laeyerz-ui/node_modules/
laeyerz-ui/build/
laeyerz-ui/.env
laeyerz-ui/package-lock.json


# Python cache files and directories
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

.DS_Store
laeyerz-ui/.DS_Store